.navbar {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #dc121200;
    color: #070404;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 300;
    padding: 2rem;
    height: 80px;
  }
  
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0 1rem;
    flex-grow: 1;
    text-align: center;
  }
  
  a {
    color: black;
    text-decoration: none;
  }  
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #000;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu {
    display: none;
    position: relative; /* Change from absolute to relative */
    top: 100%; /* Add this to position the dropdown below the link */
    left: 0; /* Add this to align the dropdown with the link */
  }
  
  .dropdown-menu li {
    margin: 5px 0;
  }
  

  .navbar a {
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    color: black;
  }
  
  .navbar a:hover {
    text-shadow: 0 0 20px rgba(255, 255, 255, 1);
  }

  .navbar-title {
    /* color: #fff; */

    font-size: 1.5rem;
    border-left: 100px;
    margin: 0;
    padding: 1rem;
    z-index: 500; /* set a higher z-index value than the navbar to make sure the title is displayed on top */
  }

  @media only screen and (max-width: 600px) {
    .navbar {
      padding: 1rem; /* reduce the padding for small screens */
      height: auto; /* set the height to auto to allow the content to wrap */
      
    }
  
    ul {
      flex-wrap: wrap;
    }

    li {
      margin: 0.5rem; /* increase the margin for small screens */
    }
  
    .navbar a {
      font-size: 1.4rem; /* reduce the font size even further for small screens */
    }
  }